<h1>Restaurant By Maki</h1>
<ul class="restaurants">
    {{#each restaurants}}
        <li class="restaurants-item" >
            <img src="{{this.imageURL}}" class="img-thumbnail" alt="Cinque Terre">
            <div class="restaurants-item-name">{{this.name}}</div>
            <small class="restaurants-item-type">{{this.type}}</small>
        </li>
    {{/each}}
</ul>

